In [121]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
from datetime import datetime

In [ ]:
driver_id_path = 'driver_ids.csv'
ride_id_path = 'ride_ids.csv'
timestamps_path = 'ride_timestamps.csv'

driver_ids = pd.read_csv(driver_id_path)
ride_ids = pd.read_csv(ride_id_path)
timestamps = pd.read_csv(timestamps_path)

<h1> General Statistics on the Driver and Rides<h1>

In [210]:
sep = ride_ids[['driver_id', 'ride_id']]

print("Number of unique drives", len(np.unique(sep['driver_id'])))
print('total number of rides', sep.shape[0])
grouped = sep.groupby('driver_id').count()
print("max number of rides by a single driver", max(grouped['ride_id']))
grouped.describe()

Number of unique drives 937
total number of rides 193502
max number of rides by a single driver 919

          ride_id
count  937.000000
mean   206.512273
std    173.254063
min      3.000000
25%     47.000000
50%    200.000000
75%    316.000000
max    919.000000

<h1> Driver Prime Time <h1>

In [211]:
driver_prime = ride_ids[["driver_id", "ride_prime_time"]]
driver_prime_count = driver_prime.groupby('ride_prime_time').count()
driver_prime_count.rename(columns={"driver_id": "number_of_rides"}, inplace=True)
driver_prime_count.reset_index(level=0, inplace=True)
print("Number of Rides done in each prime time")
driver_prime_count

Number of Rides done in each prime time

    ride_prime_time  number_of_rides
0                 0           125412
1                25            33677
2                50            17712
3                75             8208
4               100             6216
5               150             1686
6               200              432
7               250              101
8               300               31
9               350               15
10              400               11
11              500                1

<h1> Calculating Driver Rentention <h1>

In [195]:
# Get only one event for each ride
uniq_rides = timestamps[timestamps['event'] == 'accepted_at'][['ride_id', 'timestamp']]
# Matches rides with driver id
driv_ride_time = pd.merge(uniq_rides, driv_ride, on='ride_id')
print("Number of rides is", driv_ride_time.shape[0])
driv_ride_time.head()

Number of rides is 184819

,ride_id,timestamp,driver_id
0,00003037a262d9ee40e61b5c0718f7f0,2016-06-13 09:39:51,d967f5296732fa55266b5f1314e7447b
1,00005eae40882760d675da5effb89ae3,2016-05-14 05:23:25,0656192a402808805282e60761bda088
2,000061d42cf29f73b591041d9a1b2973,2016-05-16 15:43:14,c468a648519cd42da75e6aa9dadf733e
3,00006efeb0d5e3ccad7d921ddeee9900,2016-05-11 19:29:43,689bdf87fb2de49f98bf4946cfaa5068
4,00012759befd5d34a0609800f6a1ee59,2016-05-31 15:45:05,eece82fe623b4bb335a9b9e20eb0ca54

In [196]:
# gets each driver's latest ride
latest_ride = driv_ride_time.groupby('driver_id').max()
latest_ride.rename(columns={'timestamp':'latest_ride'}, inplace=True)
latest_ride.drop('ride_id', axis=1, inplace=True)

# gets each driver's oldest ride
oldest_ride = driv_ride_time.groupby('driver_id').min()
oldest_ride.rename(columns={'timestamp':'oldest_ride'}, inplace=True)
oldest_ride.drop('ride_id', axis=1, inplace=True)

# Dataframe of driver id, oldest ride time, and latest ride time
retention_raw = pd.merge(oldest_ride, latest_ride, on='driver_id')
retention_raw.head()

                                          oldest_ride          latest_ride
driver_id
002be0ffdc997bd5c50703158b7c2491  2016-03-29 18:47:01  2016-06-23 10:06:30
007f0389f9c7b03ef97098422f902e62  2016-03-29 22:28:34  2016-06-22 13:17:44
011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 10:55:00  2016-06-12 20:22:27
0152a2f305e71d26cc964f8d4411add9  2016-04-25 15:59:35  2016-06-26 10:16:39
01674381af7edd264113d4e6ed55ecda  2016-04-29 07:50:47  2016-06-24 13:03:42

In [199]:
# Converts Oldest and Latest ride times to datatime objects for easier comparison
to_date_obj = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S').date()
oldest_date_obj = retention_raw['oldest_ride'].apply(to_date_obj)
latest_date_obj = retention_raw['latest_ride'].apply(to_date_obj)
retention = pd.concat([oldest_date_obj,latest_date_obj], axis=1)

retention['retention_period (in days)'] = (retention['latest_ride'] - retention['oldest_ride']).dt.days

In [228]:
# Creates DataFrame with only the Driver Id and the Retention Period
driver_v_retention = retention.filter(['driver_id','retention_period (in days)'], axis=1)
driver_v_retention.reset_index(level=0, inplace=True)

print("There are " + str(driver_v_retention.shape[0]) 
      + " rows in the DataFrame and " + str(len(np.unique(driver_v_retention['driver_id']))) 
      + " unique drivers")
driver_v_retention.head()

There are 844 rows in the DataFrame and 844 unique drivers

                          driver_id  retention_period (in days)
0  002be0ffdc997bd5c50703158b7c2491                          86
1  007f0389f9c7b03ef97098422f902e62                          85
2  011e5c5dfc5c2c92501b8b24d47509bc                          68
3  0152a2f305e71d26cc964f8d4411add9                          62
4  01674381af7edd264113d4e6ed55ecda                          56

In [154]:
#Groups drivers by their retention period
driver_retention_count = driver_v_retention.groupby('retention_period (in days)').count()
driver_retention_count.reset_index(level=0, inplace=True)

                            driver_id
retention_period (in days)
1                                   3
2                                   1
3                                   2
4                                   5
5                                   3

In [226]:
# driver_retention_count.to_csv('driver_ren.csv', index=False)

<h1> Driver Statistics <h1>

In [213]:
# The statistics for every single driver
mean_stats_by_driver = ride_ids.groupby("driver_id").mean()
mean_stats_by_driver.reset_index(level=0, inplace=True)
mean_stats_by_driver.rename(columns=
                            {"ride_distance": "avg_ride_distance", 
                             "ride_duration": "avg_ride_duration", 
                             "ride_prime_time": "avg_ride_prime_time"}, inplace=True)
mean_stats_by_driver.head()

,driver_id,avg_ride_distance,avg_ride_duration,avg_ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,6282.624549,798.693141,19.404332
1,007f0389f9c7b03ef97098422f902e62,3791.322581,661.193548,20.161290
2,011e5c5dfc5c2c92501b8b24d47509bc,7930.970588,858.970588,19.852941
3,0152a2f305e71d26cc964f8d4411add9,7702.821990,913.722513,10.732984
4,01674381af7edd264113d4e6ed55ecda,8329.717333,953.181333,12.533333

<h1> Calculating the Formula <h1>

<h2> Prime Time Percentile <h2>

In [221]:
prime_time = ride_ids[['driver_id', 'ride_prime_time']]
prime_time_sum = prime_time.groupby("driver_id").sum().sort_values(by="ride_prime_time", ascending=False)
highest_prime_t = prime_time_sum.iloc[0][0]
percentile = lambda x: x / highest_prime_t
prime_time_sum['prime_time_percentile'] = prime_time_sum['ride_prime_time'].apply(percentile)

In [225]:
prime_time_percentile = prime_time_sum.drop(columns='ride_prime_time').sort_values(by='driver_id')
prime_time_percentile.head()

                                  prime_time_percentile
driver_id
002be0ffdc997bd5c50703158b7c2491               0.273189
007f0389f9c7b03ef97098422f902e62               0.031766
011e5c5dfc5c2c92501b8b24d47509bc               0.034307
0152a2f305e71d26cc964f8d4411add9               0.104193
01674381af7edd264113d4e6ed55ecda               0.238882

In [236]:
# Sorted Driver Retention by Driver id
driver_v_retention.sort_values(by='driver_id', inplace=True)
driver_v_retention.head()

                          driver_id  retention_period (in days)
0  002be0ffdc997bd5c50703158b7c2491                          86
1  007f0389f9c7b03ef97098422f902e62                          85
2  011e5c5dfc5c2c92501b8b24d47509bc                          68
3  0152a2f305e71d26cc964f8d4411add9                          62
4  01674381af7edd264113d4e6ed55ecda                          56

In [235]:
num_rides_per_driver = ride_ids[['driver_id', 'ride_id']].groupby('driver_id').count()
num_rides_per_driver.rename(columns={'ride_id' : 'number_of_rides'}, inplace=True)
num_rides_per_driver.reset_index(level=0, inplace=True)
num_rides_per_driver.sort_values(by='driver_id', inplace=True)
num_rides_per_driver.head()

                          driver_id  number_of_rides
0  002be0ffdc997bd5c50703158b7c2491              277
1  007f0389f9c7b03ef97098422f902e62               31
2  011e5c5dfc5c2c92501b8b24d47509bc               34
3  0152a2f305e71d26cc964f8d4411add9              191
4  01674381af7edd264113d4e6ed55ecda              375

In [239]:
complete_driver = pd.merge(prime_time_percentile, num_rides_per_driver, on='driver_id')
complete_driver = pd.merge(complete_driver, driver_v_retention, on='driver_id')

,driver_id,prime_time_percentile,number_of_rides,retention_period (in days)
0,002be0ffdc997bd5c50703158b7c2491,0.273189,277,86
1,007f0389f9c7b03ef97098422f902e62,0.031766,31,85
2,011e5c5dfc5c2c92501b8b24d47509bc,0.034307,34,68
3,0152a2f305e71d26cc964f8d4411add9,0.104193,191,62
4,01674381af7edd264113d4e6ed55ecda,0.238882,375,56
5,0213f8b59219e32142711992ca4ec01f,0.125794,240,30
6,021e5cd15ef0bb3ec20a12af99e142b3,0.060991,53,49
7,0258e250ca195cc6258cbdc75aecd853,0.177891,302,61
8,028b5a4dcd7f4924ebfabcf2e814c014,0.202033,363,51
9,02d6a6b8a6da15fc219a9570f7ebbe78,0.011436,62,51
10,02e440f6c209206375833cef02e0cbae,0.040661,56,48
11,036f3d94e7c65e4e3574822d31c72656,0.132147,204,75
12,039c5afbca8e03e4c18d9c8ea94140ac,0.022872,38,61
13,039da9c077e17af98ca8530e4d7975f1,0.449809,396,53
14,03f2b5c74cb89f39e58711699e76bf39,0.167726,223,76
15,03f5278eb43475aa6790f5be32463755,0.354511,370,73
16,0430df9a3eb327122c57ee3a64765000,0.016518,43,8
17,04c4ffa5a385eab86fa7e422263d2999,0.073698,55,30
18,04d686ef2fba281e395992a28f14fdd3,0.242694,318,41
19,052bba06c5fc0bdea4bc2f9cb92b37c7,0.043202,56,66
20,059ed570673c2d15ca11dd6b3a25513b,0.016518,32,39
21,05addf442c147875efa5cf53453ad47b,0.419314,344,79
22,05bad02e08c7f849e91dc1259da8b4ec,0.039390,46,31
23,0656192a402808805282e60761bda088,0.250318,315,57
24,06b1ba06e5505f8218ec8686498f990a,0.060991,44,13
25,06c848ab3a7fc5421e82e98850a81710,0.259212,400,67
26,07dd442e3e0b9f0f9b0d69c7b47cbb06,0.143583,286,74
27,07e6a2fdaadc640cca9a7bec41351065,0.019060,22,36
28,081d8ba3bc9a00a481df02bd9d0a4c53,0.147395,192,81
29,0822973f3e812a68a867962dbbd37f5d,0.029225,36,27
...,...,...,...,...
814,f696de645de36b56677457d2d3136524,0.031766,29,57
815,f758703e18f588f2370783f8b779e664,0.020330,31,31
816,f7858e1e354a9fa26b3055bc12a4ee5b,0.235070,428,66
817,f86eb77e1cefe28e9f0e9d3775fae261,0.022872,50,87
818,f91254f1c1b3112ef3464e477d23c9e8,0.052097,29,35
819,f98673773627b4b8d152e2b168b85bb2,0.019060,35,35
820,f9aa6d69d74e786544027a1ab3049f44,0.547649,400,58
821,fac81ea6cbd540c89c7eee17e851a233,0.022872,50,35
822,faebff3d5429ff2036c125a91df765c8,0.003812,48,28
823,fb83fc6555a4f700fd92630d9fcb9cea,0.044473,50,29
824,fb903879c556260ae2604ae0c45cb92a,0.237611,218,48
825,fba8372d56b91b1bff7b71d970b5af58,0.040661,83,59
826,fbe0433e5b1a3db9dc9d6ed21efc6148,0.054638,43,42
827,fc3504d2efaaaa976a33b3c856927155,0.090216,218,63
828,fc83b793850ea70d9e898afd0b3ef592,0.219822,245,72
829,fd2130d0d215069168dc2f79c1f5ae44,0.316391,331,79
830,fd39748ba122e84e9ac492e6fb7c7a05,0.278272,323,70
831,fd831ca1d79ae5c6fc3a679a22e5b8cf,0.020330,19,16
832,fda96e6cd3395dfae3e59cd4ac95f7d7,0.249047,199,57
833,fdbee494c73577d5b1266d1fec5c6c9a,0.020330,47,27
834,fde60697758e68d617f471e49f65db75,0.029225,32,5
835,fdff1a7205bc3b9ab1dc5dc223782fc5,0.247776,515,86
836,fe35f74209d1056dd315ddb17681203d,0.327827,422,81
837,fe469488a23d4bdda47b83a659dcc103,0.246506,289,71
838,fed19d671569afe8a2f9fa0953dd25ca,0.036849,33,26
839,ff419a3476e21e269e340b5f1f05414e,0.157560,242,61
840,ff714a67ba8c6a108261cd81e3b77f3a,0.438374,485,81
841,fff482c704d36a1afe8b8978d5486283,0.008895,35,34
842,fffecccc49436c5389075b13209f0dfa,0.612452,406,51
843,ffff51a71f2f185ec5e97d59dbcd7a78,0.336722,330,53